body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.v::-webkit-scrollbar {
    display: none;
}

.btn-group-vertical {
    width: 100%;
}

    .btn-group-vertical input,
    .btn-group-vertical label {
        border: none;
    }


/*PROFİLE KARTI*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

.frame {
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #ca7c4e;
    background: -webkit-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
    background: -moz-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
    background: -o-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
    background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
    color: #786450;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile {
    height: 100%;
    text-align: center;
    background-color: white;
    margin-right:20px;
   /* float: right;*/
}

    .profile .image {
        position: relative;
        width: 248px;
        height: 248px;
        margin: 0 auto;
    }

        .profile .image .circle-1,
        .profile .image .circle-2 {
            position: absolute;
            box-sizing: border-box;
            width: 254px;
            height: 254px;
            top: -3px;
            left: -3px;
            border-width: 1px;
            border-style: solid;
            border-color: #786450 #786450 #786450 transparent;
            border-radius: 50%;
            transition: all 1.5s ease-in-out;
        }

        .profile .image .circle-2 {
            width: 260px;
            height: 260px;
            top: -6px;
            left: -6px;
            border-color: #786450 transparent #786450 #786450;
        }

        .profile .image img {
            display: block;
            border-radius: 50%;
            background: #f5e8df;
            width: 100%;
            height: 100%;
        }

        .profile .image:hover {
            cursor: pointer;
        }

            .profile .image:hover .circle-1,
            .profile .image:hover .image .circle-2,
            .profile .image .image:hover .circle-2 {
                transform: rotate(360deg);
            }

            .profile .image:hover .circle-2 {
                transform: rotate(-360deg);
            }

    .profile .name {
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
    }

    .profile .job {
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .profile .actions {
        margin-top: 33px;
    }

        .profile .actions .btn {
            display: block;
            width: 80px;
            height: 30px;
            margin: 0 auto 10px auto;
            background: none;
            border: 1px solid #786450;
            border-radius: 15px;
            font-size: 12px;
            font-weight: 600;
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
            color: #786450;
            padding-top: 5px;
        }

            .profile .actions .btn:hover {
                background: #786450;
                color: #fff;
            }

.stats {
    margin-bottom: 10px;
    margin: 0 auto;
}

    .stats .box {
        box-sizing: border-box;
        width: 30%;
        min-width: 100px;
        background: #ffffff;
        text-align: center;
        transition: all 0.4s ease-in-out;
        margin-left: 10px;
        float: left;
    }

        .stats .box:hover {
            background: #324960;
            cursor: pointer;
            color:white;
        }

    .stats span {
        display: block;
    }

    .stats .value {
        font-size: 18px;
        font-weight: 600;
    }

    .stats .parameter {
        font-size: 12px;
        font-weight: 400;
    }


/*PROFİLE KARTI*/




/* Table Styles */

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .fl-table td,
    .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 16px;
        width: 1px;
        white-space: nowrap;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
        width: 1px;
        white-space: nowrap;
    }

        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }


/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.userbutons {
    display: block;
    margin: auto;
    width: 92px;
    margin-bottom: 10px;
}

/*TABLE*/
.metinkaydir {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.product a .gizli {
    border-radius: 5%;
    box-shadow: 0px 0px 25px #000000;
    display: none;
    position: absolute;
    left: 200px;
    top: -150px;
}

p.product a {
    display: inline-block;
    position: relative;
}



    p.product a .gizli {
        max-width: 400px;
        width: 400px;
        height: 400px;
    }

#username {
    text-decoration: none;
    color: gray;
    font-weight: lighter;
}

    #username:hover {
        color: gray;
        font-weight: 700;
    }

.dt-buttons.field.is-grouped {
    margin-bottom: 5px;
}

.tablobutonlar {
    width: auto;
margin-top: 10px;
    background-color: #324960 !important;
    color: white !important;
}

    .tablobutonlar:hover {
        background-color: #323260 !important;
        color: white !important;
    }

#DataTables_Table_0_wrapper .column {
    display: block !important;
    flex-basis: unset !important;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    /* padding: .75rem; */
}

/*SOL MENU BAR*/
html {
    /* set space for menu to appear, or everything in html will covered 75px by menu  */
    margin-left: 75px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: #eeeeee;
    font-size: 16px;
    font-family: sans-ferif;
}

.menu__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    text-decoration: none;
    color: #666666;
    transition: background 0.3s;
}

    .menu__item > i {
        font-size: 2.2em; /* 2.2*16px */
    }

.menu__item--active {
    color: #000000;
    background: #dddddd;
}

.menu__item:hover {
    background: #dddddd;
}

/* create tooltip after each menu item  */
.menu__item::after {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    content: attr(data-tooltip);
    margin-left: 15px;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 0.9em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

/* show tooltip if hover on menu item */
.menu__item:hover::after {
    opacity: 1;
    visibility: visible;
}

table td, table th {
    text-align: center !important;
    vertical-align: middle !important;
}


#graph div {
    position: relative;
    margin: 80px;
    width: 220px;
    height: 220px;
}

#graph canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#graph span {
    color: #555;
    display: block;
    line-height: 220px;
    text-align: center;
    width: 220px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-left: 5px;
}




/*NAVBAR*/



/* NAVIGATION */
nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 5px 0px #dedede;
}

    /* By Dominik Biedebach @domobch */
    nav ul {
        list-style: none;
        text-align: center;
    }

        nav ul li {
            display: inline-block;
        }

            nav ul li a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #aaa;
                font-weight: 800;
                text-transform: uppercase;
                margin: 0 10px;
            }

                nav ul li a,
                nav ul li a:after,
                nav ul li a:before {
                    transition: all .5s;
                }

                    nav ul li a:hover {
                        color: #555;
                    }



    /* By Dominik Biedebach @domobch */

    /* Blend */
    nav.blend ul li a {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
    }

        nav.blend ul li a:hover {
            color: #fff;
            text-decoration:none;
        }

        nav.blend ul li a:before,
        nav.blend ul li a:after {
            position: absolute;
            width: 0px;
            height: 100%;
            top: 0;
            bottom: 0;
            background: #324960;
            transition: all .5s;
            margin: auto;
            content: '.';
            color: transparent;
            z-index: -1;
            opacity: 0.75;
        }

        nav.blend ul li a:before {
            left: 0;
        }

        nav.blend ul li a:after {
            right: 0;
        }

        nav.blend ul li a:hover:after,
        nav.blend ul li a:hover:before {
            width: 100%;
        }
